# CIARAN QUINLAN - CA2-Storage Solutions for Big Data - 20TH NOV 2023
### Programme Title/Year:	Higher Diploma in Data Analytics for Business 
### Module Title(s):	Storage Solutions for Big Data
### Lecturer Name(s)	Dr. Muhammad Iqbal
#### Student Full Name:	Ciaran Quinlan, Student Number: sbs23098, sbs23098@student.cct.ie

In [1]:
# DATA PREPARATION NOTEBOOK
## this notebook is to prepare the datasets that I am using for the SSD CA2
# for loading into mysql and hive

In [2]:
# IMPORT the pandas the library
import pandas as pd

# import the warnings file so we can supress unnecessary warnings when running code
import warnings
warnings.filterwarnings('ignore')   # The object 'warnings' is used to call the method 'filterwarnings' and ignore the warnings

In [17]:
# import the file for Irish baby names
df_irish_names = pd.read_csv('./Irish_baby_names_count_and_rank.csv')

num_rows_ire=len(df_irish_names)
num_rows_ire = "{:,}".format(num_rows_ire)
print(f"The number of rows in the dataframe 'df_irish_names' is '{num_rows_ire}'")

The number of rows in the dataframe 'df_irish_names' is '346,898'

In [21]:
# Renaming the columns, rank give a mysql erroor
df_irish_names .rename(columns={'Rank': 'Ranks'}, inplace=True)

In [22]:
# Dropping rows where 'Year' is between 1950 and 2015
df_q3= df_irish_names[~((df_irish_names['Year'] >= 1950) & (df_irish_names['Year'] <= 2015))]

print("\nDataFrame after dropping rows from 1950 to 2000:")
df_q3.describe

DataFrame after dropping rows from 1950 to 2000:

<bound method NDFrame.describe of         Year    Names Sex  Count  Ranks
130780  2016     Jack   M  684.0    2.0
130781  2016     Sean   M  501.0    5.0
130782  2016    Conor   M  558.0    3.0
130783  2016   Daniel   M  558.0    3.0
130784  2016    James   M  688.0    1.0
...      ...      ...  ..    ...    ...
346893  2021    Vaeda   F    4.0  764.0
346894  2021  Viviana   F    3.0  883.0
346895  2021   Zariah   F    3.0  883.0
346896  2021      Zia   F    3.0  883.0
346897  2021     Zoha   F    3.0  883.0

[35886 rows x 5 columns]>

In [23]:
# writing the updated Irish and USA datasetd
df_q3.to_csv('./irish_names_q3.csv', index=False)

In [24]:
# all done dataset is exported  and ready to be uploaded to mysql and hive